body {
  background-color: #FFD7C4;
  margin: 0;
  font-family: Arial, sans-serif;
}


/*Design for banner */
.top-banner {
  background-color: #FF9874;
  height: 30px;
  padding: 0 20px;
  font-weight: bold;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-banner span {
  margin-right: 10px;
}

.top-bar-img {
  height: 100%;
  max-height: 30px;
  object-fit: contain;
}


/* Design for Login/Signup */
.login-img {
  position: absolute;
  top: 60px; /* Adjust this to control how far below the top banner it appears */
  right: 30px; /* Align to the right */
  height: 30px; /* Adjust size as needed */
  z-index: 10; /* Ensure it's above other elements if needed */
}


/*Design for logo */
.logo-container {
padding: 30px 20px;
}

.logo {
width: 200px;
height: auto;
display: block;
}

.promo-code {
color: white;
}


/* Buttons */
.logo-and-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 30px 20px;
  position: relative;
}

.nav-buttons {
  display: flex;
  gap: 15px;
  margin-left: 30px;
}

.nav-buttons button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  background: none;
  border: none;
  color: #03081F;
  cursor: pointer;
  padding: 5px 15px;
}

.nav-buttons button:hover {
  color: #7695FF;
  text-decoration: underline;
  cursor: pointer;
}

.nav-buttons button:active {
  color: #FF9874;
}


/*Design for inner box */
.info-box {
  background-color: #DAE6FF;
  padding: 160px 20px;
  margin: 10px 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  color: #000000;
  position: relative;
}

.info-box img {
  position: absolute;
  top: 0px;
  right: -110px;
  left: auto;
  bottom: auto; 
  transform: translateX(-50%); /*Ensures the image is perfectly centered */
  width: 222px;
  height: auto;
}

.info-box .review-1 {
  position: absolute;
  top: 0px;
  right: -110px;
  left: auto;
  bottom: auto; 
  transform: translateX(-50%); 
  width: 222px;
  height: auto;
}

.info-box .review-2 {
  position: absolute;
  top: 110px;
  right: 40px;
  left: auto;
  bottom: auto; 
  transform: translateX(-50%);
  width: 222px;
  height: auto;
}

.info-box .review-3 {
  position: absolute;
  top: auto;
  right: -90px;
  left: auto;
  bottom: 10px; 
  transform: translateX(-50%);
  width: 222px;
  height: auto;
}

.info-box .donut-image-1 {
  position: absolute;
    top: 0px;
    left: auto;       
    right: 320px;      
    bottom: auto;
    transform: translateX(-50%);
    width: 230px;
    height: auto;
  }

  .info-box .donut-image-2 {
    position: absolute;
      top: auto;
      left: auto;       
      right: 470px;      
      bottom: 0px;
      transform: translateX(-50%);
      width: 200px;
      height: auto;
    }

    .info-box .postcode {
      position: absolute;
        top: auto;
        left: 200px;       
        right: auto;      
        bottom: 60px;
        transform: translateX(-50%);
        width: 200px;
        height: auto;
      }


    .info-text {
      font-family: 'Poppins', sans-serif;
      font-size: 10px;
      font-weight: bold;
      color: #03081F;
      margin-top: -110px;
      left: 70px;
      position: relative;
    }

    .tagline {
      position: absolute;
      top: 50px;
      left: 80px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      font-size: 30px;
      color: #03081F;
      text-align: center;
    }
    
    .tagline span {
      color: #7695FF;
    }


/* Peach accent bar */
.accent-bar {
  background-color: #FF9874;
  height: 5px;
  width: calc(100% - 40px);
  margin: 10px 40px 0 20px;
  border-radius: 0 0 8px 8px;
}



/* Menu Design */

.menu-title {
  position: absolute;
  top: -10px;
  left: 40px;
  font-family: 'Potta One', cursive;
  font-weight: 500;
  font-size: 30px;
  margin-top: 15px;
  color: #494541;
  text-align: center;
}

.info-box .menu-1 {
  position: absolute;
  top: 60px;
  left: 115px;
  width: 150px;
  height: auto;
  border-radius: 8px;
}

.info-box .menu-2 {
  position: absolute;
  top: 60px;
  left: 315px;
  width: 150px;
  height: auto;
  border-radius: 8px;
}

.info-box .menu-3 {
  position: absolute;
  top: 60px;
  left: 515px;
  width: 150px;
  height: auto;
  border-radius: 8px;
}

.info-box .menu-4 {
  position: absolute;
  top: 60px;
  left: 715px;
  width: 150px;
  height: auto;
  border-radius: 8px;
}

.info-box .menu-5 {
  position: absolute;
  top: 60px;
  left: 915px;
  width: 150px;
  height: auto;
  border-radius: 8px;
}

.info-box .menu-6 {
  position: absolute;
  top: 60px;
  left: 1115px;
  width: 150px;
  height: auto;
  border-radius: 8px;
}

.info-box .vegan {
  position: absolute;
  top: 230px;
  left: 75px;
  width: 70px;
  height: auto;
  border-radius: 8px;
}

.info-box .gluten-free {
  position: absolute;
  top: 230px;
  left: 275px;
  width: 70px;
  height: auto;
  border-radius: 8px;
}

.info-box .vegetarian {
  position: absolute;
  top: 230px;
  left: 475px;
  width: 70px;
  height: auto;
  border-radius: 8px;
}

.info-box .vegan-2 {
  position: absolute;
  top: 230px;
  left: 675px;
  width: 70px;
  height: auto;
  border-radius: 8px;
}

.info-box .vegetarian-2 {
  position: absolute;
  top: 230px;
  left: 875px;
  width: 70px;
  height: auto;
  border-radius: 8px;
}

.info-box .vegan-3 {
  position: absolute;
  top: 230px;
  left: 1075px;
  width: 70px;
  height: auto;
  border-radius: 8px;
}

.info-box .option1-description {
  position: absolute;
  top: 110px;
  left: 40px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
  font-size: 10px;
  margin-top: 150px;
  color: #665C5C;
  text-align: left;
}

.info-box .option2-description {
  position: absolute;
  top: 110px;
  left: 240px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
  font-size: 10px;
  margin-top: 150px;
  color: #665C5C;
  text-align: left;
}

.info-box .option3-description {
  position: absolute;
  top: 110px;
  left: 440px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
  font-size: 10px;
  margin-top: 150px;
  color: #665C5C;
  text-align: left;
}

.info-box .option4-description {
  position: absolute;
  top: 110px;
  left: 640px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
  font-size: 10px;
  margin-top: 150px;
  color: #665C5C;
  text-align: left;
}

.info-box .option5-description {
  position: absolute;
  top: 110px;
  left: 840px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
  font-size: 10px;
  margin-top: 150px;
  color: #665C5C;
  text-align: left;
}

.info-box .option6-description {
  position: absolute;
  top: 110px;
  left: 1040px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
  font-size: 10px;
  margin-top: 150px;
  color: #665C5C;
  text-align: left;
}


.option1-price {
  position: absolute;
  top: 230px;
  left: 145px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #391713;
  margin-top: 10px;
  text-align: center;
}

.option2-price {
  position: absolute;
  top: 230px;
  left: 345px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #391713;
  margin-top: 10px;
  text-align: center;
}

.option3-price {
  position: absolute;
  top: 230px;
  left: 545px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #391713;
  margin-top: 10px;
  text-align: center;
}

.option4-price {
  position: absolute;
  top: 230px;
  left: 745px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #391713;
  margin-top: 10px;
  text-align: center;
}

.option5-price {
  position: absolute;
  top: 230px;
  left: 945px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #391713;
  margin-top: 10px;
  text-align: center;
}

.option6-price {
  position: absolute;
  top: 230px;
  left: 1145px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #391713;
  margin-top: 10px;
  text-align: center;
}

/* Increase/Decrease Buttons */
.quantity-container {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  margin-top: -40px;
  margin-left: 10px;
}

.quantity-img {
  width: 100%;
  height: auto;
  display: block;
}

.click-zone {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 33.3%;
  cursor: pointer;
}

.minus-zone {
  left: 0;
}

.plus-zone {
  right: 0;
}

#quantity-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'League Spartan', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #03081F;
}